{% extends "base.html.twig" %}

{% block title %}
    page de téléchargement
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1>{%trans%}Télécharger{%endtrans%}</h1>
                <p>{%trans%}En cliquant sur les boutons suivants, vous pouvez télécharger l'ensemble des articles du site en pdf. Ceux-ci sont automatiquement mis-à-jour lorsqu'un article est modifié, crée ou supprimé.  
                    <br>Le premier bouton permet d'accéder au rapport sous format lecture. Le second bouton est une version de correction, des espaces de notes y est prévu afin de pouvoir y noter des remarques.
                    (Cette version du rapport est à destination des enseignants,){%endtrans%}
                </p>
            </div>
            <div class="col-4">
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{ path('user_downloadpdf') }}" class="btn btn-success btn-lg">{%trans%}Télécharger le rapport en pdf (version lecture){%endtrans%}</a>
                <a href="{{ path('user_downloadpdfversioncorrection') }}" class="btn btn-secondary btn-lg">{%trans%}Télécharger le rapport en pdf (version correction){%endtrans%}</a>

            </div>
        </div>
    </div>
{% endblock %}