{% extends "base.html.twig" %}

{% block title %}
    Homepage
{% endblock %}
{% block nav %}
    {# empty to not include the nav in this page #}
{% endblock %}
{% block body %}
      
    <div class="container">
        <div class="row">
             <div class="col card__presentation">
                    <h2>Mon stage</h2>
                    <p>Le site auquel vous allez accéder est mon projet de stage de deuxième année que j'ai effectué chez Golem.ai, une entreprise spécialisée dans le traitement de documents en s'appuyant sur l'IA et situé à Paris.</p>
                </div>
        </div>
        <div class="row">
             <div class="card__presentation">
                    <h2>Mon projet</h2>
                    <p>Mon projet est une application de gestion d'articles. L'objectif est de pouvoir gérer (créer, modifier, supprimer) mes articles.</p>
                </div>
        </div>
        <div class="row">
            <div class="card__presentation">
                    <h2>Pousser mes connaissances dans ses retranchements.</h2>
                    <p>Ce projet est un prétexte à l'expérimentation, l'objectif est de chercher à implémenter des fonctionnalités diverses et variés tout en restant cohérent dans sa réalisation.</p>
                </div>
        </div>
        <div class="row">
            <div class="card__presentation">
                    <h2>Un traitement sous forme de saisons</h2>
                    <p>J'ai souhaité déconstruire l'idée selon laquelle un rapport de stage se doit d'être chronologiquement traité. Ainsi, je me suis inspiré des saisons qui fractionnent nos années pour en tirer des thématiques fortes.</p>
                    
                </div>
        </div>
        <div class="row">
            <div class="card__presentation">
                    <h2>Découvrir</h2>
                    <p>Merci</p>
                    <a class="btn btn-lg btn-primary" href="{{ path('navigation_theme', {'theme' : 'spring'}) }}"> Soyez la {{visitors}}ème personne à découvrir mon projet. </a>
                </div>
        </div>
    </div>


               

               
          
       
                

            
            
                
         
          
                
            
        
    
{% endblock %}

{% block footer %}
    {# empty to not include the footer in this page #}
{% endblock %}