{% extends "base.html.twig" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    
    <div class="container">
        {% if  themeName  not in  themes %}
            <p>Ce thème n'existe pas.</p>
        {% else %}
            <h1>{{ themeName }}</h1>
        {% endif %}
            
        {% if articles|length > 0 %}
            {% for article in articles %}
                {% include "shared/_card.html.twig" %}
            {% endfor %}

            {{ knp_pagination_render(articles) }}
            
        {% else %}
            <p>Aucun article associé au thème {{ themeName }}</p>
        {% endif %}
    </div>
    <div class="container mt-5 mb-5">
        <h2>Laissez un commentaire pour ce thème.</h2>
        {% if app.user %}
            <div class="col-4">
                {% include "comments/form.html.twig" %}
            </div>
        {% else %}
            <a href="{{ path('security_login') }}">Connectez-vous pour poster un commentaire.</a>
        {% endif %}
    </div>
    <div class="container">
       {% include "comments/show.html.twig" %}
    </div>
{% endblock %}