.nav__main {
    background-color: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(10px);
    display: flex;
    margin-bottom: 100px;
    
    ul {    
        display: flex;
        justify-content: space-between;
        
        li {
            margin-right: 15px;
            list-style-type: none; 
            a {
                text-decoration: none;
                color: rgb(53, 53, 53);
            }

            &:hover {
                
                text-shadow: 1px 1px 1px rgb(211, 211, 211);    
            }
        } 
    }
}