.nav__main {

    background-color: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(10px);
    display: flex;
    margin-bottom: 300px;
    
    ul {    
        display: flex;
        justify-content: space-between;
        
        li {
            margin-right: 5px;
            list-style-type: none; 
            a, span {
                font-size: 12px;
                text-decoration: none;
                color: rgb(53, 53, 53);
            }

            &:hover {
                
                text-shadow: 1px 1px 1px rgb(211, 211, 211);    
            }
        } 
    }

    // navbar__text
    @media only screen and (max-width: 1300px) {
        .navbar__text {
          display: none;
        }
      }
}

