
    {% for c in comments %}
    {% if c.user.username is defined %}
        <div class="comment">
            <div class="comment__header">
                <span class="comment__username">{{ c.user.username }}</span> le <span class="comment__date">{{ c.createdAt|format_datetime(locale='fr') }}</span> 
            </div>
            <div class="comment__body">
                <p>{{ c.commentary }}</p>
            </div>
        </div>
    {% endif %}
    {% endfor %}


