  {% if  themeName  not in  themes %}
    <p>Ce thème n'existe pas.</p>
{% else %}
    <h1>{{ themeName }}</h1>
{% endif %}
<p>L'été représente la concrétisation, le temps fort de mon stage, des réalisations qui en ont été le coeur.</p>