<footer class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="">Linkedin</a>
            </div>
            <div class="col">
                <a href="">Linkedin</a>

            </div>
            <div class="col">
                <a href="">Linkedin</a>

            </div>
            <div class="col"
                <a href="">Linkedin</a>

            </div>
        </div>
    </div>
</footer>