<footer class="mt-auto">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="">
                    <i class="fas fa-tw"></i>
                </a>
            </div>
            <div class="col">
                <a href="">Linkedin</a>

            </div>
            <div class="col">
                <a href="">Linkedin</a>

            </div>
            <div class="col"
                <a href="">Linkedin</a>

            </div>
        </div>
    </div>
</footer>