<footer class="mt-auto">
    <div class="container">
        <div class="row mx-auto mt-5">
            <div class="container d-flex justify-content-around">
                <a href="https://www.linkedin.com/in/benjaminvenezia/"><i class="fab fa-linkedin-in text-dark"></i></a>
                <a href="https://github.com/benjaminvenezia/projet_stage_1/"><i class="fab fa-github text-dark"></i></a>
            </div>
        </div>
        <div class="row mx-auto mt-5">
            <div class="container d-flex justify-content-center">
                <a href="">{%trans%}aspect légal{%endtrans%}</a>
            </div>
        </div>
    </div>
</footer>