<div class="p-3">
{{ form_start(searchForm) }}
<div class="input-group mb-3 row">
{{ form_row(searchForm, {'label': ' '}) }}
  <div class="input-group-append">
    <button class="btn btn-outline-secondary btn-sm">Valider</button>
  </div>
</div>
{{ form_end(searchForm) }} 
</div>