.bookmark {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    i { //?
        color:white;
    }
    
    text-shadow: 1px 1px 7px black;

}

.article {
    margin: 15% 0 5% 0;
}

.article-bg-spring {
    background-image: url('../../../img/bg/flatspring.jpg');
    background-size: cover;
}

.article-bg-summer{
    background-image: url('../../../img/bg/flatsummer.jpg');
    background-size: cover;
}

.article-bg-autumn {
    background-image: url('../../../img/bg/flatautumn.jpg');
    background-size: cover;
}

.article-bg-winter {
    background-image: url('../../../img/bg/flatwinter.jpg');
    background-size: cover;
}
