
.theme-autumn{

    .container__descriptiontheme {
        padding: 50px;
        
    
        .container__img {
        text-align: center;
    
            img {
                width: 100%;
                
            }
        }
    }


    background-color: rgb(255, 233, 205);

    h1 {
        padding:20px;
        font-family: 'Amatic SC', cursive;
        font-size: 4rem;
        color: rgb(165, 66, 0);
        text-shadow: rgb(59, 59, 59) 1px 1px 1px;

       
    }



    //article
    .card {
        background-color: white;
    }

    footer {
        background-color: rgba(255, 255, 255, 0.438);
        backdrop-filter: blur(10px);
    }

    //ZONE COMMENTAIRE
    .comment-autumn-theme {    
        border: 5px dashed rgba(255, 255, 255, 0.555);
        padding: 50px;

        h2 {
            font-family: 'Amatic SC', cursive;
            color: white;
            text-shadow:   5px 5px 20px #212121ee,  
                            5px -5px 20px #212121ea;    
        }

        .comment {
            backdrop-filter: blur(4px);
            background-color: rgba(255, 255, 255, 0.185);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-top: 10px;

            .comment__header {
                font-size: smaller;
                background-color: rgba(184, 98, 0, 0.582);
                color: rgb(235, 235, 235);
                padding: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                .comment__username {
                    font-weight: bold;
                }

                .comment_date {

                }
            }

            .comment__body {
                background-color: rgba(255, 217, 136, 0.438);
                word-break: break-all;
                padding: 10px;
               

                
            }

        }


        .container__zonecomment {
            padding:20px;
            background-color: rgba(212, 212, 212, 0.616);
            backdrop-filter: blur(10px);
            border-radius: 10px;

        }


    }
    
}

.container__descriptiontheme--autumn {
    

}

