.video_themes {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.container__theme {

    position: relative;

    .container__index {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.863);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-right: 15px;
        ul {
            li{
                list-style-type: square;
                a {
                    font-style: italic;
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.658);
                }
            }
        }
    }

    .container__description {
        background-color: rgba(255, 255, 255, 0.712);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        padding-left: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

.container__comments {

    .comment__header {
        position: relative;

        .container__commentconfig {
            width: 50px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
}


body{
    position: relative;

    .img__fond__theme {
        position: absolute;
       
        bottom: 0;
        left: 0;
        right: 0;
        min-width: 100vw;
        max-width: 100vw;
   
        z-index: -10;
    }
}
