{% extends "base.html.twig" %}

{% block title %}
    Modification du mot de passe.
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto">
                 {{ form_start(formView) }}
                        {{ form_row(formView) }}
                
                {{ form_end(formView) }}
            </div>
        </div>
    </div>

   
{% endblock %}